@import "../../../styles/variables.scss";

.nav {
  z-index: 100;
  position: sticky;
  top: 0;
  height: 60px;
  background-color: map-get($colors, secondary);
  padding: 20px 20px;
}

.innerNav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: map-get($sizes, web-width);
  margin: 0 auto;

  .navLink {
    transition: all .3s ease;
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px;
      
    &:hover {
      color: map-get($colors, primary);
    }
  }
  .navLinkButton {
    transition: all .3s ease;
    color: map-get($colors, primary);
    font-size: 2.5rem;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 140px;

    &:hover {
      background-color: map-get($colors, grey);
    }
  }
}